@using GestionPersonnel.Models.EmplyeeEquipe
@using GestionPersonnel.Models.Equipe
@using GestionPersonnel.Services
@using GestionPersonnel.Models
@using GestionPersonnel.Models.Fonctions
@using GestionPersonnel.Services.EquipeServices
@inject IEmployeService EmployeService
@inject IFonctionService FonctionService
@inject IEquipeService EquipeService
@inject IEmployeeEquipeService EmployeeEquipeService
@rendermode InteractiveServer
@if (IsVisibleAddEquipe)
{
<div class="modal" tabindex="-1" style="display: block;">
    <div class="modal-dialog w-50">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Ajouter Equipe</h5>
             </div>
            <div class="modal-body">
        <form class="form-container" @onsubmit="HandleSubmit">
          
            <div class="form-group">
                <label>Nom D'Equipe</label>
                <input type="text" class="form-control" placeholder="Nom D'Equipe" @bind="equipeName" required/>
            </div>

           
            <div class="form-group">
                <label>Choisir Fonction</label>
                <select class="form-control" @onchange="OnFonctionChange" required>
                    <option value="">-- Choisir Fonction --</option>
                    @if (fonctions != null && fonctions.Any())
                    {
                        @foreach (var fonction in fonctions)
                        {
                            <option value="@fonction.FonctionID" aria-required>@fonction.NomFonction</option>
                        }
                    }
                    else
                    {
                        <option value="0">-- Aucun Fonction disponible --</option>
                    }
                </select>
            </div>

           
            <div class="form-group">
                <label>Choisir Le Chef D'equipe</label>
                <select class="form-control" @bind="selectedChefId" required>
                    <option value="0">-- Choisir Chef D'equipe --</option>
                    @if (filteredEmployes != null && filteredEmployes.Any())
                    {
                        @foreach (var employe in filteredEmployes)
                        {
                            <option value="@employe.EmployeID" aria-required>@employe.Nom @employe.Prenom</option>
                        }
                    }
                    else
                    {
                        <option value="0">-- Aucun employé trouvé --</option>
                    }
                </select>
            </div>


                    <div class="form-group">
                        <label>Choisir Les Membres D'Équipe</label>
                        <div class="checkbox-group scrollable" style="height:100px">
                            @if (filteredEmployes != null && filteredEmployes.Any())
                            {
                                @foreach (var employe in filteredEmployes)
                                {
                                    <label class="checkbox-item">
                                        <input type="checkbox" @bind="employeeSelection[employe.EmployeID]" />
                                        @employe.Nom @employe.Prenom
                                    </label>
                                }
                            }
                            else
                            {
                                <p class="no-employees">Aucun employé disponible</p>
                            }
                        </div>
                    </div>


             <div class="modal-footer">

                            <button type="button" class="btn-c" @onclick="Hide_Popup_AddEquipe">Annuler</button>
                        <button type="submit" class="btn-p">Ajouter Equipe</button>
                        
                  
             </div>
        </form>
            </div>
        </div>
    </div>
</div>
}



